# Every night at 12:01 make system config backup
#01 0  * * *     root  /local/bin/backup

# Every night at 1:01 make rsync copy and then give plenty of time before snapshots
#01 1  * * *     root  /local/bin/snapshot rsync

# Every night at 2:01 make snapshots
#01 2  * * *     root  /local/bin/snapshot snap 7 daily

# Every Sunday Morning at 3:01 make weekly snapshot
#01 3  * * 7     root  /local/bin/snapshot snap 4 weekly

# First day of every month at 4:01 make monthly snapshot
#01 4  1 * *     root  /local/bin/snapshot snap 12 monthly
